.main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: between;
    align-items: center;
    background-image: url("/img/login/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    overflow: hidden;

}

/* container */
.results__container {
    padding: 20px;
    margin: auto;
    min-height: calc(100vh - 40px);
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 15px;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}



/* facts */
.facts__container {
    //background: red;
}
.facts__container, .fact__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.facts__container {
    margin-bottom: 20px;
}

.fact__item {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    margin-right: 20px;
}

.fact__icon__container__bug, .fact__icon__container__bug2, .fact__icon__container__defect, .fact__icon__container__report {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 20px;
}
.fact__icon__container__bug {
    background: #0e2663;
}
.fact__icon__container__bug2 {
    background: #E91E63;
}
.fact__icon__container__defect {
    background: #03A9F4;
}

.fact__icon {
    font-size: 35px;
    opacity: 0.5;
}

.fact__item, .graph__container {
    background: rgba(255, 255, 255, 0.19);
}

.fact__text__container {
    flex: 1;
}

.fact__number {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 50px;
}
.fact__text {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    opacity: 0.5;
}
/* <---------------lower----------------> */
.lower__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

/* <---------------left----------------> */
.results__left {
    flex: 1;
    height: 100%;
    min-height: calc(100vh - 230px);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Graph */
.graph__container {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    width: 100%;
}


/* graph header */
.graph__header__icons, .graph__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: white;
    transition: transform 450ms;
}
.icon:hover {
    transform: scale(1.2);
}

/* graph body */
.graph__body {
    //background: rgba(255, 255, 255, 0.19);
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.graph {
    width: 100%;
    height: 100%;
    //background: rgba(255, 255, 255, 0.39);
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* graph legend */
.graph__legend {
    min-width: 120px;
    max-height: 355px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.legend__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.legend__container p {
    margin: 0px;
}

/* <---------------right----------------> */
.results__right {
    flex: 0.5;
    min-height: calc(100vh - 480px);
    width: 100%;
    //background: rgba(255, 255, 255, 0.19);
    //padding: 20px;
    max-width: 600px;
    border-radius: 15px;
}

/* right upper */
.fact__icon__container__report {
    background: #00BCD4;
}

/* right lower */
.right__lower {
    background: rgba(255, 255, 255, 0.19);
    padding: 20px;
    border-radius: 15px;
}
.action__item {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action__btn {
    background-color: #D24244;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}


/* labels */
.labels__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
}

/* table */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}