/* ------main container------ */
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: between;
  align-items: center;
  background-image: url("/img/login/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ------form container------ */
.form__container {
  padding: 50px;
  margin: auto;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

/* ------logo container------ */
.logo__container {
  margin: auto;
  width: 100px;
}

/* ------form__title------ */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
  opacity: 0.6;
}


/* ------form------ */
.form {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ------form__input------ */
.input {
  width:  100%;
  margin-bottom: 20px;
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.21);
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 25px
}

.input:focus {
  outline: none !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}


/* ------forgot__label------ */
.forgot__label {
  font-size: 1rem;
  color: #fff;
  margin-top: -0.5rem;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 35px;
  opacity: 0.6;
}


/* ------form__submit__btn------ */
.submit__btn {
  background-color: #D24244;
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.submit__btn:hover {
  transform: scale(1.08);
}