.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(237, 160, 45);
    color: white;
}
.icon {
    margin-right: 10px;
}