beautifulsoup4
bertopic
brotlipy
certifi
cffi
charset-normalizer
click
colorama
commonmark
cryptography
cycler
Cython
dataclasses
deep-translator
Deprecated
dnspython
filelock
Flask
Flask-Limiter
flask-talisman
fonttools
future 
gensim
hdbscan
huggingface-hub 
idna
importlib-metadata
itsdangerous 
Jinja2
joblib
kiwisolver
limits
llvmlite
MarkupSafe 
matplotlib
mkl-service
nltk
numba
numpy
packaging 
pandas 
Pillow
plotly
pycparser 
Pygments
PyJWT
pymongo
pynndescent
pyOpenSSL 
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
requests 
rich
sacremoses
scikit-learn
scipy
sentence-transformers
six
smart-open
soupsieve
tenacity
textblob
threadpoolctl
tokenizers
torch
tqdm
transformers 
tweet-preprocessor
typing_extensions
umap-learn
urllib3 
Werkzeug
win-inet-pton
wrapt
zipp
